<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booker</title>
    <%- include('lib.ejs') %>
    <script src="../client/js/board.js"></script>
</head>
<body>
<%- include('menue.ejs') %>
<%- include('midImg.ejs') %>
<div class="col-md-8" style="height: 100%;">
  <!--상단 로그인 버튼 / 사용자 정보-->
  <%- include('nav.ejs') %>
  <article style="padding: 30px;">
    <section>
      <img src="/public/img/introduce/title.PNG" style="width:200px;"></img>
      <hr/>
      <p>FTA는 Free Talking American English 를 줄인 말로 미국식 영어를 하자는 의미에서 지어졌습니다. 외국인과 프리토킹, 해외인턴, 글로벌 프로그램 등 영어에 관심이 있는 학생들을 위해 만들어진 동서대학교 영어연구회입니다. </p>
      <p>국제학부 정택진 교수님이 담당하여 운영되고 있으며 연구회 학생들이 앞으로 영어에 흥미를 갖고 재미를 발견할 수 있기를 소망합니다.</p>
      <p>사람과 사람이 만나고, 소통으로써 함께 삶을 나누는 영어연구회, FTA 입니다. 감사합니다.</p>
    </section>
    <scrtion>
      <img src="/public/img/introduce/introduce.jpg" style="background-size:cover; width: 600px;"></img>
    </scrtion>
  </article>
  
</div>
</body>
</html>
