<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booker</title>
    <%- include('lib.ejs') %>
    <script src="../client/js/english.js"></script>
</head>
<body>
<%- include('menue.ejs') %>
<%- include('midImg.ejs') %>
<div id="mainContents" class="col-md-8" style="height: 100%;">
  <!--상단 로그인 버튼 / 사용자 정보-->
  <%- include('nav.ejs') %>
  <div style="width:100%; height:calc(100% - 65px); background-size:cover;">
      
  </div>
</div>
</body>
</html>
