<div class="col-md-2 col-sm-2 menue-container">
  <ul class="menue">
    <li class="menue-head"></li>
    <li class="menue-body">
      <span class="glyphicon glyphicon-menu-left pull-right"></span>
      <span class="glyphicon glyphicon-book icon-margin"></span>
      <a href="/lab/intro">FTA 연구회 Introduce</a>
    </li>
    <li class="menue-body">
      <span class="glyphicon glyphicon-menu-left pull-right"></span>
      <span class="glyphicon glyphicon-pencil icon-margin"></span>
      스터디 study
      <ul class="menue-second">
        <li class="menue-second-body">
          <a href="/english">영어 English</a>
        </li>
      </ul>
    </li>
    <li class="menue-body">
      <span class="glyphicon glyphicon-menu-left pull-right"></span>
      <span class="glyphicon glyphicon-duplicate icon-margin"></span>
      <a href="/resume">이력서 Resume</a>
    </li>
    <li class="menue-body">
      <span class="glyphicon glyphicon-menu-left pull-right"></span>
      <span class="glyphicon glyphicon-user icon-margin"></span>
      커뮤니티
      <ul class="menue-second">
        <li class="menue-second-body">
          <span>
            <a href="/notice">공지사항</a>
          </span>
        </li>
        <li class="menue-second-body">
          <span>
            <a href="/free">자유 게시판</a>
          </span>
        </li>
        <li class="menue-second-body">
          <span>
            <a href="/qna">QnA</a>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
<script src="/client/js/menue.js"></script>
