<div class="col-md-3 col-sm-3 dft_imgContainer">
    <div style="color: white; position: absolute; bottom: 150px; padding: 20px;">
        <h1 class="midName">Board</h1>
        <hr>
        <p>여기는 <span class="midName">Board</span> 게시판입니다. </p>
    </div>
</div>
<script src="/client/js/midimg.js"></script>